%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
.woman
	.row
		.col-md-4
		.col-md-3
		.col-md-5
			%h1 Who are we?
			%p We are a bunch of sertified technicians and together we make the world cooler through air conditioner specialist.



.jumbo3
	%h1 Company
	%p Founded in 2002, Z-cool has served many big companies such as PT. Sinar Sosro Cakung, PT. Sinar Sosro Cakung, PT Orang Tua Group Daan Mogot, PT Zyrexindo Mandiri Buana Daan Mogot, PT Primamakmur Rotokemindo Daan Mogot, etc. Z-cool juga memiliki teknisi berkualitas dan sudah tersertifikasi dari asosiasi APITU, bahkan founder dari z-cool juga merupakan salah satu assessor dari asosiasi tersebut. Ir. Robert Johan juga kerap mengadakan pelatihan teknisi baik teori maupun praktek, sehingga kualitas pelayanan z-cool tidak perlu diragukan lagi.

.founder
	=image_tag "download.jpg"
	%h4 Ir. Robert Johan
	%p Founder

.lightblue
	.col-md-4
		%ul.lightblue_text
			%li=image_tag "certificate.png", width: "125", height: "125"
			%li APITU awards best assessor 2016 at Batam
	.col-md-4
		%ul.lightblue_text
			%li=image_tag "certificate.png", width: "125", height: "125"
			%li PERTAMINA awards best association company 2014 at Bandung
	.col-md-4
		%ul.lightblue_text
			%li=image_tag "certificate.png"	, width: "125", height: "125"
			%li Green Building awards for using recycled material for air conditioner 2013 at Surabaya		